<p> fecha {{fecha | date: 'fullDate' | uppercase}} </p>
<p> fecha {{fecha | date: 'dd/mm/yyyy' |lowercase}} </p>

<p> {{nombre | uppercase }}</p>
<p> {{nombre | lowercase }}</p>

<p> {{5 | conversor: 5}}</p> <!-- pipe con parametro -->

<label>
  <input type="text" [(ngModel)]="prendaAGuardar">
</label>
<button (click)="guardarPrenda()">añadir prenda</button>
<p *ngIf="prendaAGuardar">La prenda a guardar es : <strong>{{prendaAGuardar}}</strong></p>

<h3>Listado de prendas de ropa</h3>
<ul>
  <li *ngFor="let prenda of listadoRopa, let i = index">
    {{ prenda }}
    <button (click)="eliminarPrenda(i)">Eliminar</button>
  </li>
</ul>
